*{
    margin: 0px;
    padding: 0px;
}
.admin-banner{
width: 60% !important;

}
.admin-banner-inner{
height: 100vh;
}
.admin-banner-inner img{
height: 100% !important;
}
.admin-login{
width: 30% !important;
margin-top: 100px !important;
border: 1px solid grey;

padding: 20px !important;
}
.stackable{
    display: flex;
    justify-content: space-between;
}
.admin-banner{
    flex-basis: 60%;
}
.admin-banner-inner{
    width: 100%;
}
.admin-banner-inner img{
    width: 100%;
}
.admin-login{
    flex-basis: 40%;
}
.login-style{
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}
.inputpassword input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.adminBtn{
    background-color: var(--seconday-color);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    padding: 12px 20px;
    color: #fff;
}